.panda-bg-info{
    background-color: #fceae8;
}
.panda-text-primary{
    color: #FF136F;
}
.panda-btn{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}

.bg-watch{
    background-color: #ffa500;
}

.bg-bag{
    background-color: #da70d6;
}

.bg-shoe{
    background-color: #0000ff;
}

